* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection {
  background-color: $dark-orange-color;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #333;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient($dark-red-color, $light-red-color);
  }
}

section {
  min-height: 100vh;
  padding: 6rem 7% 1rem;
}

.btn {
  position: relative;
  padding: .7rem 3rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  border-radius: 5rem;
  color: #fff;
  background: $gradient;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  &:hover::before {
    left: 120%;
    transition: .3s linear;
  }

  &::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 150%;
    top: -1rem;
    left: -100%;
    transform: rotate(25deg);
    background: #fff9;
    z-index: -1;
  }
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin section-heading($color) {
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  color: $color;
}